In [14]:
import pandas as pd
import folium

In [20]:
# Charger le fichier CSV
df = pd.read_csv('customer_details_v1.csv')
# Supprimer les lignes avec des valeurs NaN
df = df.dropna()
# Arrondir la colonne avg_freight_value à deux décimales
df['avg_freight_value'] = df['avg_freight_value'].round(2)
# Arrondir la colonne avg_price à deux décimales
df['avg_price'] = df['avg_price'].round(2)
# Arrondir la colonne avg_payment à deux décimales
df['avg_payment'] = df['avg_payment'].round(2)
# Convertir les colonnes 'first_order' et 'last_order' en format de date
df['first_order'] = pd.to_datetime(df['first_order'])
df['last_order'] = pd.to_datetime(df['last_order'])

In [21]:
df.head()

,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,geolocation_lat,geolocation_lng,first_order,last_order,total_orders,avg_review_score,avg_freight_value,avg_price,avg_payment,avg_product_weight_g,avg_product_length_cm,avg_product_height_cm,avg_product_width_cm
0,0000366f3b9a7992bf8c76cfdf3221e2,7787,cajamar,SP,-23.353453,-46.823060,2018-05-10 10:56:27,2018-05-10 10:56:27,1,5.0,12.00,129.90,141.90,1500.0,34.0,7.0,32.0
1,0000b849f77a49e4a4ce2b2a4ca5be3f,6053,osasco,SP,-23.568119,-46.792981,2018-05-07 11:11:27,2018-05-07 11:11:27,1,4.0,8.29,18.90,27.19,375.0,26.0,11.0,18.0
2,0000f46a3911fa3c0805444483337064,88115,sao jose,SC,-27.561522,-48.637354,2017-03-10 21:05:03,2017-03-10 21:05:03,1,3.0,17.22,69.00,86.22,1500.0,25.0,50.0,35.0
3,0000f6ccb0745a6a4b88665a16c9f078,66812,belem,PA,-1.449059,-48.495507,2017-10-12 20:29:41,2017-10-12 20:29:41,1,4.0,17.63,25.99,43.62,150.0,19.0,5.0,11.0
4,0004aac84e0df4da2b147fca70cf8255,18040,sorocaba,SP,-23.514883,-47.469016,2017-11-14 19:45:42,2017-11-14 19:45:42,1,5.0,16.89,180.00,196.89,6050.0,16.0,3.0,11.0

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 94444 entries, 0 to 96095
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_unique_id        94444 non-null  object
 1   customer_zip_code_prefix  94444 non-null  int64
 2   customer_city             94444 non-null  object
 3   customer_state            94444 non-null  object
 4   geolocation_lat           94444 non-null  float64
 5   geolocation_lng           94444 non-null  float64
 6   first_order               94444 non-null  datetime64[ns]
 7   last_order                94444 non-null  datetime64[ns]
 8   total_orders              94444 non-null  int64
 9   avg_review_score          94444 non-null  float64
 10  avg_freight_value         94444 non-null  float64
 11  avg_price                 94444 non-null  float64
 12  avg_payment               94444 non-null  float64
 13  avg_product_weight_g      94444 non-null  float64
 14  avg_product_length_cm     94444 non-null  float64
 15  avg_product_height_cm     94444 non-null  float64
 16  avg_product_width_cm      94444 non-null  float64
dtypes: datetime64[ns](2), float64(10), int64(2), object(3)
memory usage: 13.0+ MB

In [11]:
# Créer un nouveau DataFrame avec des positions uniques
unique_positions_df = df.drop_duplicates(subset=['geolocation_lat', 'geolocation_lng'])

# Enregistrer le nouveau DataFrame dans un fichier CSV
unique_positions_df.to_csv('unique_customer_positions.csv', index=False)

In [12]:
unique_positions_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14799 entries, 0 to 96095
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_unique_id        14799 non-null  object
 1   customer_zip_code_prefix  14799 non-null  int64
 2   customer_city             14799 non-null  object
 3   customer_state            14799 non-null  object
 4   geolocation_lat           14799 non-null  float64
 5   geolocation_lng           14799 non-null  float64
 6   first_order               14799 non-null  object
 7   last_order                14799 non-null  object
 8   total_orders              14799 non-null  int64
 9   avg_payment               14799 non-null  float64
dtypes: float64(3), int64(2), object(5)
memory usage: 1.2+ MB

In [ ]:
# map_osm = folium.Map()
# map_osm = folium.Map(location=[df_num['Latitude'].mean(), df_num['Longitude'].mean()],zoom_start=11)
# for i in range(0,len(df_num)):
#     folium.Circle([df_num.iloc[i]['Latitude'],df_num.iloc[i]['Longitude']], 
#                       popup=df.iloc[i]['Address'], radius =100).add_to(map_osm)
# map_osm

In [13]:
# Calculer la moyenne des valeurs de geolocation_lat et geolocation_lng
mean_lat = unique_positions_df['geolocation_lat'].mean()
mean_lng = unique_positions_df['geolocation_lng'].mean()

# Créer une carte centrée sur la moyenne des positions
map = folium.Map(location=[mean_lat, mean_lng], zoom_start=1)

# Ajouter des marqueurs pour chaque position de client
for index, row in unique_positions_df.iterrows():
    folium.Marker(location=[row['geolocation_lat'], row['geolocation_lng']],
                  # popup=row['avg_payment']
                  ).add_to(map)

# Sauvegarder la carte dans un fichier HTML
map.save('customer_map.html')